body {
    margin: 0 10%;
    background-image: url(http://www.cs.washington.edu/education/courses/190m/09sp/labs/2â€journal/images/background.gif);
}
.container {
    border: 5px green solid;
    background-color: white;
}
.title {
    border: 5px red solid;
}
.title > h2 {
    border: 5px orange solid;
}
.content {
    border: 5px blue solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
}
span {
    border: 5px purple solid;
}